@tailwind base;
@tailwind components;
@tailwind utilities;

.two-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    /* Adjust this value to your line height */
    height: 3em;
    /* Should be 2 * line-height */
}