.back-to-top {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 1000;
  }
  
  .back-to-top-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .back-to-top-button:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .back-to-top-icon {
    width: 60px;
    height: 60px;
  }  